*.iml
.gradle
.gradle/*
.gradle-user-home
.gradle-user-home-plan
.gradle-user-home-run

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.onnx
python_EyeTrack/
pupil/
pupil-detector/

